<%- include("inc/header") -%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
              <h1>
                  Progresso
              </h1>
              <ol class="breadcrumb">
                  <li><a href="/"><i class="fa fa-home" style="color: #444"></i> Home</a></li>
                  <li class="active">Progresso</li>
              </ol>
          </section>

          <!-- Main content -->
          <section class="content container-fluid">
              <div class="row">
                <div class="col-lg-3 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h3>10</h3>
        
                      <p>Flashcards Aprendidos</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-thumbsup"></i>
                    </div>
                  </div>
                </div>
    
                <div class="col-lg-3 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h3>5</h3>
        
                      <p>Flashcards Longo Prazo</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-happy-outline"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box box-success">
                  <div class="box-header with-border">
                    <h3 class="box-title">Gráfico</h3>
      
                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                  <div class="box-body">
                    <div class="chart">
                      <canvas id="lineChart" style="height: 250px; width: 510px;" height="250" width="510"></canvas>
                    </div>
                  </div>
                  <!-- /.box-body -->
              </div>
          </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

<%- include("inc/footer") -%>